
.head-form{
  text-align: center;
}

h1{
  margin-bottom: 20px!important;
}
h2{
  margin: unset;
}

form p.useritium{
  font-size: 10px;
  margin: unset;
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  /*width: calc(100% - 20px);*/
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #c59662;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #7c5e3d;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #7c5e3d;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
