<section id="setting" class="container setting">


  <div id="user">
    <img [src]="app.generatePPUseritium(app.userConnected?.username, app.userConnected?.pp)" alt="user pp">
  </div>

  <div class="back-setting">
    <h1>{{ app.userConnected?.displaynameUseritium || app.userConnected?.username }}</h1>

    <div class="setting-content">
      <h3>Setting</h3>
      <button>Useritium</button>
      <button (click)="app.loggout()">Déconnexion</button>
    </div>

    <div class="setting-logo">
      <img src="logo.png" alt="logo">
    </div>


  </div>

</section>
