#navbar{

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  #navbar-in{

    max-width: 700px;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #bar{
      margin-left: 30px;
      width: 300px;
      height: 60px;

      border-radius: 15px;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .text{

        display: flex;
        align-items: center;

        font-size: 20px;

        :first-child{
          margin-right: 10px;
        }

      }


      img{
        width: 60px;
        height: 60px;
      }
    }

    #user{
      margin-right: 30px;
      border-radius: 100%;

      width: 70px;
      height: 70px;

      display: flex;
      align-items: center;
      justify-content: center;

      img{
        border-radius: 100%;
        width: 60px;
        height: 60px;
      }

    }

    #user,
    #bar{
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-image: url("/carton.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }

}

@media (max-width: 450px) {

  #bar {
    margin-left: 15px!important;
  }

  #user {
    margin-right: 15px!important;
  }

}

@media (max-width: 410px) {

  #bar {
    margin-left: 10px!important;
  }

  #user {
    margin-right: 10px!important;

    width: 60px!important;
    height: 60px!important;

    img{
      width: 50px!important;
      height: 50px!important;
    }
  }

}

@media (max-width: 400px) {

  #bar {
    margin-left: 5px!important;
  }

  #user {
    margin-right: 5px!important;
  }

}

@media (max-width: 380px) {

  #bar {
    width: 250px!important;
    height: 50px!important;

    border-radius: 10px!important;

    img{
      width: 50px!important;
      height: 50px!important;
    }
  }

}



.countdown {
  width: 57px;
  margin: auto;
}
