<div id="downbar">

  <div id="downbar-in">
    <div routerLink="/">
      <i [ngClass]="{'ri-home-9-fill': currentRoute === '/', 'ri-home-9-line': currentRoute !== '/'}" class=""></i>
    </div>

    <div routerLink="/deck">
      <i [ngClass]="{'ri-sim-card-fill': currentRoute === '/deck', 'ri-sim-card-line': currentRoute !== '/deck'}"></i>
    </div>

    <div routerLink="/setting">
      <i [ngClass]="{'ri-settings-5-fill': currentRoute === '/setting', 'ri-settings-5-line': currentRoute !== '/setting'}"></i>
    </div>
  </div>


</div>
