<app-navbar></app-navbar>

<section id="deck" class="container">

  <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">

    <div class="oneShelf">
      <div class="allCards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card *ngIf="pageWidth > 380"></app-card>
        <app-card *ngIf="pageWidth > 543"></app-card>
        <app-card *ngIf="pageWidth > 700"></app-card>
      </div>
      <div class="shelf"></div>
    </div>

  </ng-container>


</section>
