#deck{


  .oneShelf{
    width: 95%;
    margin-left: auto;
    margin-bottom: 25px;

    .allCards{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: -20px;
    }

    .shelf{
      height: 40px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;


      background-image: url("/carton.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }

  .oneShelf:first-child{
    padding-top: 25px;
  }
  .oneShelf:last-child{
    padding-bottom: 90px;
  }

}

@media (min-width: 700px){
  .oneShelf {
    width: 100%!important;

    .shelf {
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}
